body{
    margin: 0;
    font-size: 20px;
}

.tamanho-card {
    width: 95rem;
    height: 30rem;
}

.vermelho {
    background-color: #DB5461;
}

#azul {
    width: 20rem;
    height: 20rem;    
    background-color: blue;
}

#roxa{
    width: 20rem;
    height: 20rem;    
    background-color: rgb(255, 251, 0);
}

#mae{
    display: flex;
    justify-content: space-around;
}

#logo{
    width: 100px;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    background-color: blue;
}

#itens-menu{
    display: flex;
    list-style: none;    
}

#itens-menu li {
    padding-right: 10px;
}